<form hx-post="/login" >
  <% if defined?(alert_type) %>
    <div class="alert alert-<%= alert_type %>"><%= message %></div>
  <% end %>

  <div class="form-group">
    <input type="email" placeholder="Correo electronico" name="email" required>
  </div>

  <div class="form-group">
    <input type="password" placeholder="Contraseña" name="password" required>
  </div>

  <div class="form-group">
    <button type="submit" class="btn-secondary-outline btn-block">Ingresa!</button>
  </div>
</form>
