<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Lord of War</title>
    <%= partial :head_imports %>
  </head>
  <body>
    <main class="border paper container login">
      <%= yield %>
    </main>

    <%= partial :footer %>
  </body>
</html>
