.search-bar {
  display: flex;
}

.search-bar input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
}

.search-bar button {
  padding: 5px;
}

.category-filters {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.category-filters label:first-child {
  flex-grow: 1;
  margin-left: 0;
}

.category-filters label:last-child {
  flex-grow: 1;
  margin-right: 0;
}

.category-filters label {
  flex-grow: 1;
  margin: 0 5px;
  padding: 0.2rem 0.5rem !important;
}

.specs {
  font-size: 0.8rem;
}

.card {
  margin-top: 10px;
}

.card-link {
  text-decoration: none;
  background-image: none;
  color: var(--primary);
}

.row {
  justify-content: space-between;
}

.col-3 {
  flex: 0 0 24% !important;
  max-width: 24% !important;
}

.col {
  padding: 0.5rem !important;
}

.card-body {
  padding: 0.5rem !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  border-bottom-left-radius: 15px 255px !important;
  border-bottom-right-radius: 225px 15px !important;
  border-top-left-radius: 255px 15px !important;
  border-top-right-radius: 15px 225px !important;
}

img.product-img {
  min-height: 150px;
  width: auto;
  max-height: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.underline {
  border-bottom-color: var(--primary);
  background-image: none;
  border-bottom-left-radius: 15px 3px;
  border-bottom-right-radius: 15px 5px;
  border-bottom-style: double;
  border-bottom-width: 5px;
  padding-bottom: 0.1rem;
}

.pagination {
  justify-content: center;
  margin-bottom: 0px;
}

.card-title {
  font-size: 0.8rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 40px;
  margin-top: 10px;
}

.header img {
  width: 35px;
  height: 35px;
  border: none;
  margin-right: 10px;
}

.header h3 {
  display: flex;
  align-items: center;
  margin: 0;
}

.header a {
  color: var(--primary);
  text-decoration: none;
  background-image: none;
}

main.login {
  margin-top: 10%;
  margin-bottom: 40px;
  max-width: 600px;
  border-color: var(--primary-light);
}

main.login h4 {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main.login img {
  border: none !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  width: 100px;
}

main.login .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

main.login .form {
  display: flex;
  flex-direction: column;
}

main.main {
  margin-bottom: 40px;
  padding: 1.3rem;
  border-color: var(--primary-light);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

footer svg {
  margin: 0 5px;
  width: 16px;
}

footer a {
  margin: 0 5px;
}

.img-wrapper {
  position: relative; /* El contenedor será el punto de referencia */
  display: inline-block; /* Permite que se ajuste al tamaño de la imagen */
}

.img-action-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
  background: none;
  padding: 0;
  border: none !important;
  box-shadow: none !important;
}

.img-action-btn:hover {
  box-shadow: none;
  border: none;
}

.img-action-btn svg {
  width: 24px;
  height: 24px;
}

@keyframes inflate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes deflate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.fav-btn svg {
  /* transition: all ease-in 0.3s; */
  transform: scale(1);
  stroke: var(--danger);
  stroke-width: 4px;
  fill: rgba(0, 0, 0, 0);
}

.fav-btn.removed svg {
  fill: none;
  animation: deflate 0.6s ease-in-out forwards;
}

.fav-btn.active svg {
  fill: var(--danger);
  animation: inflate 0.6s ease-in-out forwards;
}

.fav-btn svg:hover {
}

.fav-btn.active svg:hover {
}

.trash-btn svg {
  stroke: var(--danger);
  stroke-width: 4px;
  fill: rgba(0, 0, 0, 0);
}

.trash-btn.active svg {
  fill: var(--primary-light);
}

.trash-btn svg:hover {
  fill: var(--primary-light);
}

.trash-btn.active svg:hover {
  fill: none;
}

.price-filter {
  margin-top: 20px;
  justify-content: space-between;
}

.price-filter,
.price-filter div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price-filter div {
  padding: 0 10px;
  flex-grow: 1;
}

.price-filter input {
  flex-grow: 1;
  padding: 5px;
}

.price-filter label {
  margin-right: 10px;
}

.hidden {
  display: none;
}

.cat-btn {
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  transition: all 235ms ease 0s;
  box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2);
  transition: all 235ms ease-in-out 0s;
  color: #41403e;
  color: var(--primary);
  background-color: #41403e;
  background-color: var(--main-background);
  align-self: center;
  background-image: none;
  border: 2px solid #41403e;
  border-color: var(--primary);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  outline: none;
  padding: 0.75rem;
}

.cat-btn.active {
  background-color: var(--secondary);
  color: var(--main-background);
}

.cat-btn:hover {
  transform: translate3d(0, 2px, 0);
  box-shadow: 2px 8px 8px -5px rgba(0, 0, 0, 0.3);
}

.hidden:checked + .cat-btn {
  background-color: #007bff;
  color: white;
  box-shadow: inset 0 0 0 2px #005ecb;
  border: 2px solid #fff;
}

.no-results {
  display: flex;
  margin: 80px 0;
  justify-content: center;
  align-items: center;
  color: var(--danger);
}

.ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  margin: 0 0 20px 0;
}

.align-right {
  display: flex;
  justify-content: end;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.navbar a {
  display: flex;
  align-items: baseline;
}

.navbar svg {
  width: 30px;
}

.my-gear {
  display: flex;
  justify-content: space-evenly;
}

.my-gear svg {
  height: 100%;
}

#bgcasco {
  fill: none;
}

#bgcasco:hover {
  fill: #6b8e23;
}

#bgcara {
  fill: none;
}

#bgcara:hover {
  fill: #dbb18c;
}

#bgtorso {
  fill: none;
}

#bgtorso:hover {
  fill: #6b8e23;
}

#bgcinto {
  fill: none;
}

#bgcinto:hover {
  fill: #4b5320;
}

#bgpantalon {
  fill: none;
}
#bgpantalon:hover {
  fill: #6b8e23;
}

#bgcalzado {
  fill: none;
}

#bgcalzado:hover {
  fill: #dbb18c;
}

#bgsecundaria {
  fill: none;
}

#bgsecundaria:hover {
  fill: #36454f;
}

#bgchaleco {
  fill: none;
}

#bgchaleco:hover {
  fill: #999999;
}

#bgprimaria {
  fill: none;
}

#bgprimaria:hover {
  fill: #36454f;
}

#bgmanos {
  fill: none;
}

#bgmanos:hover {
  fill: #dbb18c;
}

.in-tabs label {
  color: #41403e;
}

.in-tabs input {
  display: block;
}

.btn-grp {
  display: flex;
  justify-content: space-around;
}

.team-check {
  padding: 0 0.75rem !important;
}

.team-check span {
  display: flex !important;
  justify-content: start;
  align-items: center;
}

.team-check img {
  width: 36px;
  border: none;
  margin-right: 20px;
}

.logout-btn {
  margin-top: 40px;
  text-align: center;
}

.cal {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px; /* opcional, separa las columnas */
}

label.paper-btn {
  padding: 5px 10px;
  text-align: center;
}

.calendar button,
.calendar div {
  padding: 5px 10px;
}

.calendar div.wday {
  border: none;
}

.calendar button.event {
  display: flex;
  justify-content: space-between;
}

.calendar div.skip {
  border: none;
}

.calendar h4 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.calendar a.month-btn {
  padding: 10px;
  text-decoration: none;
  background: none;
  color: var(--primary);
}

.badge.circular {
  border-radius: 50%;
}

.event-list {
  margin-top: 40px;
}

.event-list .event {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
}

.listing-img {
  display: flex;
  justify-content: center;
}

.listing-img img {
  border: none;
  width: 100%;
}

.listing-category {
  justify-content: end;
  display: flex;
  margin-top: -48px;
  margin-right: 4px;
}

.listing-desc {
  margin: 40px 0;
}

.listing-price {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.listing-img-preview-container {
  margin-top: 1em;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.listing-img-preview {
  max-width: 70px;
}
