<form hx-post="/update-password">
  <% if defined?(alert_type) %>
    <div class="alert alert-<%= alert_type %>"><%= message %></div>
  <% end %>

  <div class="row">
    <div class="col col-6">
      <div class="form-group in-tabs">
        <label for="cpasswd">Contraseña actual</label>
        <input class="input-block" type="password" required id="cpasswd" name="cpasswd"/>
      </div>
    </div>

    <div class="col col-6">
      <div class="form-group in-tabs">
        <label for="npasswd">Nueva contraseña</label>
        <input class="input-block" type="password" required id="npasswd" name="npasswd"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-12 in-tabs btn-grp">
      <button class="paper-btn btn-block btn-secondary-outline" type="submit">Cambiar contraseña!</button>
    </div>
  </div>
</form>
