<div class="calendar">
  <h4>
    <a href="#" class="month-btn">&lt;</a>
    Noviembre 2025
    <a href="#" class="month-btn">&gt;</a>
  </h4>

  <div class="cal child-borders">
    <div class="wday">Domingo</div>
    <div class="wday">Lunes</div>
    <div class="wday">Martes</div>
    <div class="wday">Miercoles</div>
    <div class="wday">Jueves</div>
    <div class="wday">Viernes</div>
    <div class="wday">Sabado</div>
    <div class="skip"></div>
    <div class="skip"></div>
    <div class="skip"></div>
    <div class="skip"></div>
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div class="today border border-secondary text-secondary">Hoy</div>
    <div>7</div>
    <div>8</div>
    <div>9</div>
    <button class="today btn-secondary event border border-secondary text-secondary">
      Hoy <span class="badge circular secondary">2</span>
    </button>
    <div>11</div>
    <div>12</div>
    <div>13</div>
    <div>14</div>
    <div>15</div>
    <div>16</div>
    <div>17</div>
    <div>18</div>
    <div>19</div>
    <button class="btn-secondary event">
      20 <span class="badge circular secondary">3</span>
    </button>
    <div>21</div>
    <div>22</div>
    <div>23</div>
    <button class="btn-secondary event">
      24 <span class="badge circular secondary">1</span>
    </button>
    <div>25</div>
    <div>26</div>
    <div>27</div>
    <div>28</div>
    <div>29</div>
    <div>30</div>
    <div>31</div>
  </div>

  <div class="event-list">
    <div class="collapsible">
      <input id="collapsible1" type="radio" name="collapsible">
      <label for="collapsible1" class="event">
        <div>Tirada en Gotcha Osos</div>
        <div><a href="#">Gotcha Osos</a> - Sabado 13 nov 11:00 hrs</div>
      </label>
      <div class="collapsible-body">
        <span>Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin ball tip turducken...</span>
      </div>
    </div>

    <div class="collapsible">
      <input id="collapsible2" type="radio" name="collapsible">
      <label for="collapsible2" class="event">
      <div>Festival de la bala</div>
      <div><a href="#">Campo de Cuemanco</a> - Lunes 8 nov 11:00 hrs</div>
      </label>
      <div class="collapsible-body">
        <span>Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin ball tip turducken...</span>
      </div>
    </div>

    <div class="collapsible">
      <input id="collapsible3" type="radio" name="collapsible">
      <label for="collapsible3" class="event">
      <div>CQB</div>
      <div><a href="#">Bodegas Union</a> - Martes 23 nov 11:00 hrs</div>
      </label>
      <div class="collapsible-body">
        <span>Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin ball tip turducken...</span>
      </div>
    </div>

    <div class="collapsible">
      <input id="collapsible4" type="radio" name="collapsible">
      <label for="collapsible4" class="event">
      <div>Evento de beneficiencia Teleton</div>
      <div><a href="#">Ajusco</a> - Domingo 14 nov 11:00 hrs</div>
      </label>
      <div class="collapsible-body">
        <span>Bacon ipsum dolor sit amet landjaeger sausage brisket, jerky drumstick fatback boudin ball tip turducken...</span>
      </div>
    </div>
  </div>
</div>
