<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Lord of War</title>
    <%= partial :head_imports %>
  </head>
  <body>
    <header class="underline container header">
      <div class="col col-4">
        <a href="/">
          <h3>
            <img src="/img/logo200x200.png">
            Lord of War
          </h3>
        </a>
      </div>
    </header>

    <main class="border paper container main">
      <%= yield %>
    </main>

    <%= partial :footer %>
  </body>
</html>
