<div class="row flex-spaces tabs">
  <input id="tab1" type="radio" name="tabs">
  <label for="tab1">Mi cuenta</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Emergencias</label>

  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Equipo</label>

  <input id="tab4" type="radio" name="tabs" checked>
  <label for="tab4">Armamento</label>

  <div class="content" id="content1">
    <form action="/update-account" method="POST">
      <div class="row">
        <div class="col col-6">
          <div class="form-group in-tabs">
            <label for="name">Nombre</label>
            <input style="display: block" class="input-block" type="text" id="name" name="name"/>
          </div>
        </div>

        <div class="col col-6">
          <div class="form-group in-tabs">
            <label for="alias">Alias</label>
            <input class="input-block" type="text" id="alias" name="alias"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col col-12 in-tabs btn-grp">
          <input style="width: 100%;" type="submit" value="Actualizar!">
        </div>
      </div>

    </form>
  </div>

  <div class="content" id="content2">
    <form action="/update-account" method="POST">
      <div class="row">
        <div class="col col-4">
          <div class="form-group in-tabs">
            <label for="emergecycontact">Contacto de emergencias</label>
            <input class="input-block" type="text" id="emergecycontact" name="emergecycontact"/>
          </div>
        </div>

        <div class="col col-4">
          <div class="form-group in-tabs">
            <label for="emergencyphone">Telefono de emergencias</label>
            <input class="input-block" type="text" id="emergencyphone" name="emergencyphone"/>
          </div>
        </div>

        <div class="col col-4">
          <div class="form-group in-tabs">
            <label for="bloodtype">Grupo Sanguineo</label>
            <select class="input-block" id="bloodtype" name="bloodtype"/>
              <option value="">En caso de emergencia</option>
              <option value="ap">A+</option>
              <option value="al">A–</option>
              <option value="bp">B+</option>
              <option value="bl">B–</option>
              <option value="abp">AB+</option>
              <option value="abl">AB–</option>
              <option value="op">O+</option>
              <option value="ol">O–</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col col-12 in-tabs btn-grp">
          <input style="width: 100%;" type="submit" value="Actualizar!">
        </div>
      </div>
    </form>
  </div>

  <div class="content" id="content3">
    <form action="/update-account" method="POST">
      <fieldset class="form-group">
        <legend>Selecciona tu(s) equipo(s)</legend>

        <label for="team1" class="paper-check team-check">
          <input type="checkbox" name="teams[]" id="team1" value="1">
          <span>
            <img src="http://airsoft.elihuzero.com.mx/images/logos/033.png">
            Division Oriente
          </span>
        </label>

        <label for="team2" class="paper-check team-check">
          <input type="checkbox" name="teams[]" id="team2" value="2">
          <span>
            <img src="http://airsoft.elihuzero.com.mx/images/logos/030.png">
            Legion Azteca
          </span>
        </label>
      </fieldset>

      <div class="row">
        <div class="col col-12 in-tabs btn-grp">
          <input style="width: 100%;" type="submit" value="Actualizar!">
        </div>
      </div>

    </form>
  </div>

  <div class="content" id="content4">
    <div class="text-muted" style="margin-bottom: 20px; text-align: center;">Comparte con la comunidad tu equipamiento favorito</div>

    <div class="my-gear">
      <%= partial :soldier %>
      <div>
        Cara
        <ul>
          <li><a href="#">Fornitura Tactica Fajo Tactico Militar Cinturon Accesorios Policia Seguridad</a></li>
        </ul>
        <button style="width: 100%; padding: 5px;">+</button>
      </div>
    </div>
  </div>
</div>
